# Tuple

In [1]:
()

()

In [2]:
type(())

tuple

In [3]:
t = 1,3
print(t)

(1, 3)

In [4]:
1,2

(1, 2)

In [5]:
type((1,2))

tuple

* Checking time for list & tuple operation

In [6]:
import timeit
li = timeit.timeit(stmt='[1,2,3]',number=1000000)
tu = timeit.timeit(stmt='(1,2,3)',number=1000000)

print("list time ",li)
print("tuple time ",tu)

list time  0.08501901399722556
tuple time  0.012194160997751169

* Assignment operation

In [10]:
( x , y) = ( 3 , 6)

In [11]:
y

6

In [12]:
x

3

In [14]:
(4,1,2) == (x,y)

False

In [17]:
(1,2,3) < (3,4)

True

In [18]:
('afridi', 'hello') < ('we' , 'lol')

True

In [19]:
('jones' , 'sally', 'lol') > ('po','pol')

False

In [20]:
survey2 = (21,"Bangladesh",False)
age , country , knows_python = survey2

In [21]:
print("age =",age)
print("country =", country)
print("Know ? = ",knows_python)

age = 21
country = Bangladesh
Know ? =  False